.idea/*
.vscode/*

/VPSMonitor.Client/.vscode/*
/VPSMonitor.Client/.idea/*

/VPSMonitor.API/.vscode/*
/VPSMonitor.API/.idea/*
/VPSMonitor.API/obj/*
/VPSMonitor.API/bin/*

/VPSMonitor.Tests/bin/*
/VPSMonitor.Tests/obj/*

/VPSMonitor.Core/bin/*
/VPSMonitor.Core/obj/*

