<h1>SSH Keys</h1>
<button (click)="openModal()" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Add SSH key</button>
<app-modal *ngIf="isModalOpen" [title]="modalTitle" (closed)="closeModal()">
    <form (ngSubmit)="addSSHKey()">
        <p>SSH Key:</p>
        <textarea type="text" [(ngModel)]="sshKey" name="sshKey" required></textarea>
      <label>
        Username - (name that you use for connect to VPS):
        <input type="text" [(ngModel)]="username" name="username" required>
      </label>
      <button type="submit">Add SSH Key!</button>
    </form>
</app-modal>


